/* your styles go here */

blockquote {
    background-color: #fdfcf6;
}

.navbar-default {
    background: #467fbf;
}

.navbar ul.nav > li > a {
    text-decoration: none; 
}

.navbar-default .navbar-nav > li > a {
    color: #eeeeee;
}

.home-carousel .dark-mask {
    background: #eeeeee;
    opacity: 0.7;
}

.home-carousel h1, .home-carousel h2, .home-carousel h3, 
.home-carousel p, .home-carousel ul {
    color: #467fbf;
}