/* your styles go here */

blockquote {
    background-color: #fdfcf6;
}

.navbar-default {
    background: #467fbf;
}

.navbar-toggle {
    color: white;
}

.navbar ul.nav > li > a {
    text-decoration: none; 
}

.navbar-default .navbar-nav > li > a {
    color: #eeeeee;
}

.carousel-section {
    margin-bottom: 0;
}

.home-carousel .dark-mask {
    background: #eeeeee;
    opacity: 0.7;
}

.home-carousel h1, .home-carousel h2, .home-carousel h3, 
.home-carousel p, .home-carousel ul {
    color: #467fbf;
}

.yt-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
    height: 0;
}

.yt-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div#content {
    font-size: 1.3em;
}

div#content table {
    margin-top: 1em;
    margin-bottom: 1em;
}

div#content th {
    background-color: #467fbf;
    color: white;
}

div#content th, td {
    border-bottom: 2px solid #467fbf;
    border-right: 2px solid #467fbf;
    padding: 1em;
}

div#content th:last-child, td:last-child {
    border-right: none;
}

div#content tr:last-child td {
    border-bottom: none;
}

div#content img {
    width: 100%;
}